<style type="text/css">
.white { color: white; }
.red { color: red; }
.black { color: black; }
.large { font-size: 130% }
.Large { font-size: 150% }
.small { font-size: 70% }
.Small { font-size: 50% }
.pull-right40{ 
  float: right;
  width: 40%;}
.pull-left40{
  float: left;
  width: 40%;
}
.pull-right60{
  float: right;
  width: 60%;
}
.pull-left60{
  float: left;
  width: 60%;
}
.scale120{
  float: left;
  width: 120%;
}
.scale80{
  float: right;
  width: 80%
}
</style>